# ROS 2 specific
build/
install/
log/

# Python specific
__pycache__/
*.py[cod]
*.so
*.egg-info/

# CMake specific
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake
# Do not ignore .cmake file in cmake/ directory
!cmake/*.cmake

# Compiled object files
*.o
*.obj
*.so
*.a

# Other
*.swp
*.swo
.DS_Store
*.zip
*.tar.gz
*.tgz
*.log

# Editor specific
.vscode/
.idea/
*.user
*.sublime-workspace
*.sublime-project
